<div class="card border-dark mb-3">
    <div class="card-header">Listado de Actividades</div>
    <div class="card-body text-dark">
      <h5 class="card-title">Notas Registradas</h5>
      <div class="my-2 text-left">
        <button class="btn btn-rounded btn-primary" [routerLink]="['/notas/form']">Adicionar Notas</button>
      </div>
      <table class="table table-bordered table-striped">
          <thead>
              <tr>
                <td>Nombre de la Actividad</td>
                <td>Prioridad</td>
                <td>Fecha de Vencimiento</td>
                <td>Editar</td>
              </tr>
          </thead>
          <tbody>
            <tr *ngFor="let nota of notas">
                <td>{{nota.nombre}}</td>
                <td>{{nota.prioridad}}</td>
                <td>{{nota.fechaVencimiento}}</td>
              <td><button type="button" name="button" [routerLink]="['/notas/form',nota.id]" class="btn btn-primary">Editar</button></td>
            </tr>
          </tbody>
      </table>
    </div>
  </div>